
@font-face {
  font-family: 'NotoNastaliqUrdu';
  src: url('NotoNastaliqUrdu.eot?#iefix') format('embedded-opentype'),  url('NotoNastaliqUrdu.woff') format('woff'), url('NotoNastaliqUrdu.ttf')  format('truetype'), url('NotoNastaliqUrdu.svg#NotoNastaliqUrdu') format('svg');
  font-weight: normal;
  font-style: normal;
}
