#footer {
    color: #fff;
    ._border-top { border-top: 1px solid #012b50 }
    ._border-bottom { border-bottom: 1px solid #001120; }
}
#sitemap {
    .footer-menu {
	dl {
	    padding: 24px 0;
	    dt {
		font-size: 14px; font-weight: bold; text-transform: uppercase; line-height: 24px; border-bottom: 1px solid #fff; padding-bottom: 6px; margin-bottom: 12px; display: inline-block; padding-right: @grid-gutter-width;
	    }
	    dd {
		a {
		   color: @mediumBlue; display: block; transition: all 0.2s;
		    &:hover { }
		}
	    }
	}
    }
}
#copyright {
    line-height: 48px; font-size: 12px; color: @mediumBlue;
}
.lang-select {
    color: #fff; font-size: 14px; text-transform: uppercase; cursor: pointer; transition: 0.2s all;
    &:hover { color: @lightGray; }
}
#languages {
    padding-top: @grid-gutter-width; padding-bottom: @grid-gutter-width;
    ul {
	li {
	    a {
		color: #fff; display: block; line-height: 24px; transition: 0.2s all;
		&:hover { text-decoration: none; color: @lightGray; }
	    }
	}
    }
}