#item {
    .item-date { font-size: 12px; color: @gray; }
    .item-media {
	ul {
	    li {
		figure {
		    margin-bottom: @grid-gutter-width;
		    figcaption {
			padding-top: (@grid-gutter-width / 3); color: @captionColor;
			&:before {  }
		    }
		}
	    }
	}
    }
}