.wrapper {
    /*width: 1170px; margin: 0 auto; box-shadow: 0 4px 4px @gray;*/
    &._white { background: #fff; }
    &._light-blue {
        background: @lightBlue;
        &._border-top { border-top: 1px solid #deebf5; }
        &._border-bottom { border-bottom: 1px solid #deebf5; }
    }
    &._light-orange {
        background: @style-color4;
    }
    &._dark-blue { background: @darkBlue; }
    &._dark-gray { background: @darkGray; }
}
#main-container { padding-top: @grid-gutter-width; }
.page-header {
    margin: 0; border: 0 none;
    h2 { margin-top: 0; font-weight: bold; font-size: 32px; line-height: 1.4 }
}
.img {
    &.video, &.audio, &.gallery {
        & > a {
            position: relative;
            &:before {
                position: absolute; display: block; color: @gray-lighter; width: 40px; height: 40px;
                text-align: center; line-height: 40px; font-family: "wsicons"; transition: all 0.2s; font-size: 18px; text-indent: 0.1em; z-index: 10;
                top: 0; left: auto; right: 0; box-shadow: 0 0 transparent; text-shadow: 0 0 transparent; background: rgba(0, 0, 0, 0.6);
            }
        }
        &:hover {
            & > a:before { border-color: #fff; color: #fff; }
        }
    }
    &.video > a:before { content: '\e808' }
    &.audio > a:before { content: '\e82d' }
    &.gallery > a:before { content: '\e82c' }
}