.wrapper {
    /*width: 1170px; margin: 0 auto; box-shadow: 0 4px 4px @gray;*/
    &._white { background: #fff; }
    &._light-blue {
        background: @lightBlue;
        &._border-top { border-top: 1px solid #deebf5; }
        &._border-bottom { border-bottom: 1px solid #deebf5; }
    }
    &._light-orange {
        background: @style-color4;
    }
    &._dark-blue { background: @darkBlue; }
    &._dark-gray { background: @darkGray; }
}
#main-container { padding-top: @grid-gutter-width; }
.page-header {
    margin: 0; border: 0 none;
    h2 { margin-top: 0; font-weight: bold; font-size: 32px; line-height: 1.4 }
}