.panel {
    
    /*! Global Rules */
    margin-bottom: @grid-gutter-width;
    .panel-title {
	text-transform: uppercase;
	a {  }
    }
    .panel-heading {
	margin: 0 0 14px; text-transform: uppercase;
    }
    .panel-body {
    }
    .panel-footer {
	margin-top: 10px;
    }
    .more {
	display: inline-block; color: @moreColor; font-weight: bold;
	&:hover { color: @link-color; }
    }
    
    /*! Colors */
    &.dark {
	.panel-title, .panel-heading {
	    color: #fff;
	    a { color: #fff; }
	}
    }
    &._bg-gray { background: @gray; }
    
    /*! Boxes */
    &.ticker {
	line-height: 40px; margin-bottom: 0; height: 40px; overflow: hidden;
	.panel-title { width: 160px; float: left; font-size: 12px; font-weight: bold; clear: left; text-overflow: ellipsis; white-space: nowrap; }
	.panel-body { max-height: 40px; margin-left: 160px; clear: none; }
	ul {
	    margin: 0; padding: 0; list-style: none;
	    li {
		font-size: 12px;
	    }
	}
    }
    &.news {
	.panel-heading {
	    padding: 0; font-weight: bold; font-family: Arial; text-transform: uppercase;
	    a {
		display: inline-block; color: #fff; line-height: 25px; padding: 0 10px; background: @sectionColor; font-size: 12px; transition: all 0.2s;
		&:hover { text-decoration: none; background: darken(@sectionColor, 10%); }
	    }
	}
	.panel-body {
	    &:hover {
		.desc h3 a { color: #000; text-decoration: none; }
	    }
	}
	.desc {
	    h3 {
		margin: 0 0 16px; font-size: 16px; font-weight: bold;
		a {
		    display: inline-block; color: @text-color; transition: all 0.2s; padding-top: 10px;
		    &:hover { color: #000; text-decoration: none; }
		}
	    }
	    p { color: @newsDescTextColor; }
	}
    }
    &.slider {
	padding: @grid-gutter-width / 2; padding-bottom: @grid-gutter-width;
	.pages {
	    height: 0; overflow: visible;
	}
	.items {
	    padding: 0 @grid-gutter-width / 2;
	    ul {
		li {
		    float: left; width: 185px; padding: 0;
		    & ~ li { margin-left: @grid-gutter-width / 2; }
		    &:hover, &.active {
			figure {
			    & > a, & > img { border: 2px solid #fff; }
			    figcaption {
				&, a { color: #fff; }
			    }
			}
		    }
		    figure {
			& > a, & > img { border: 2px solid @gray; }
			figcaption {
			    font-weight: bold;
			    a {
				color: @lightGray; display: block;
				&:hover { text-decoration: none; }
			    }
			}
		    }
		}
	    }
	}
    }
}