.panel {

    /*! Global Rules */
    margin-bottom: @grid-gutter-width;
    .panel-title {
	text-transform: uppercase;
	a {  }
    }
    .panel-heading {
	margin: 0 0 14px; text-transform: uppercase; border-radius: 0;
    }
    .panel-body {
    }
    .panel-footer {
	margin-top: 10px;
    }
    .panel {
	margin-bottom: 0;
    }
    .more {
	display: inline-block; color: @moreColor; font-weight: bold;
	&:hover { color: @link-color; }
    }

    /*! Colors */
    &.dark {
	.panel-title, .panel-heading {
	    color: #fff;
	    a { color: #fff; }
	}
    }
    &._bg-gray { background: @gray; }
    &.title-navy {
	.panel-heading {
	    background-color: @navy; font-size: 14px; font-weight: bold; line-height: 14px; padding: 0;
	    a {
		color: #fff;  display: block; padding: 10px;
	    }
	}
    }
    &.title-pattern {
	.panel-heading {
	    background-image: @patternHeader; background-repeat: repeat; background-position: center center;
	}
    }

    /*! Boxes */
    &.ticker {
	line-height: 40px; margin-bottom: 0; height: 40px; overflow: hidden;
	.panel-title { width: 160px; float: left; font-size: 12px; font-weight: bold; clear: left; text-overflow: ellipsis; white-space: nowrap; }
	.panel-body { max-height: 40px; margin-left: 160px; clear: none; }
	ul {
	    margin: 0; padding: 0; list-style: none;
	    li {
		font-size: 12px;
	    }
	}
    }
    &.news {
	.panel-heading {
	    padding: 0; font-weight: bold; font-family: Arial; text-transform: uppercase;
	    a {
		display: inline-block; color: #fff; line-height: 25px; padding: 0 10px; background: @sectionColor; font-size: 12px; transition: all 0.2s;
		&:hover { text-decoration: none; background: darken(@sectionColor, 10%); }
	    }
	}
	.panel-body {
	    &:hover {
		.desc h3 a { color: #000; text-decoration: none; }
	    }
	}
	.desc {
	    h3 {
		margin: 0 0 16px; font-size: 16px; font-weight: bold;
		a {
		    display: inline-block; color: @text-color; transition: all 0.2s; padding-top: 10px;
		    &:hover { color: #000; text-decoration: none; }
		}
	    }
	    p { color: @newsDescTextColor; }
	}
    }
    &.slider {
	padding: @grid-gutter-width / 2; padding-bottom: @grid-gutter-width; margin-left: -15px;
	.panel-title { margin-bottom: @grid-gutter-width / 2; }
	.pager {
	    height: 0; overflow: visible; position: absolute; top: 50%; left: 0; width: 100%; margin-top: -16px;
	    a {
		color: @lightGray; float: left; display: block; font-size: 28px; line-height: 32px; margin-left: -(@grid-gutter-width /2);
		&:hover { color: #fff; }
		&.next { float: right; margin-left: 0; margin-right: -(@grid-gutter-width /2); }
	    }
	}
	.items {
	    padding: 0 @grid-gutter-width / 2;
	    ul {
		li {
		    float: left; width: 188px; padding: 0;
		    & ~ li { margin-left: @grid-gutter-width / 2; }
		    &:hover, &.active {
			figure {
			    & > a, & > img { border: 2px solid #fff; }
			    figcaption {
				&, a { color: #fff; }
			    }
			}
		    }
		    figure {
			& > a, & > img { border: 2px solid @gray; transition: all 0.2s; }
			figcaption {
			    font-weight: bold;
			    a {
				color: @lightGray; display: block;
				&:hover { text-decoration: none; transition: all 0.2s; }
			    }
			}
		    }
		}
	    }
	}
    }
    &.tabs {
	.panel-title {
	    margin-bottom: @grid-gutter-width / 2;
	    ul {
		list-style: none; margin: 0; padding: 0; border: 0 none; border-bottom: 4px solid @lightGray;
		li {
		    margin-bottom: 0;
		    &:hover, &.active {
			a { background: none; border-color: @red; }
		    }
		    a {
			border-radius: 0; font-size: 12px; font-weight: bold; color: @text-color; border: 0 none; border-bottom: 4px solid transparent; margin-bottom: -4px;
			&:hover { text-decoration: none; }
		    }
		}
	    }
	}
	&.tab-buttons {
	    .panel-title {
		ul {
		    border-bottom: 0 none;
		    li {
			&:hover, &.active {
			    a { background: @sectionColor; border: 0 none; }
			}
			a {
			    margin-bottom: 0; border: 0 none; color: #fff; background: @lightGray; line-height: 25px; padding: 0 10px; min-width: 85px; text-align: center;
			}
		    }
		}
	    }
	}
    }
    &.digest {
	&.thumbs {
	    ul {
		li {
		    width: @xLargeMainHalf; float: none; display: inline-block; vertical-align: top; padding: 0; clear: left; margin-bottom: (@grid-gutter-width);
		    &:nth-child(2n + 3) { margin-left: @grid-gutter-width; }
		    &:hover {
			.desc {
			    h3 a { color: #000; }
			}
		    }
		    .img {
			float: left; clear: left; width: ((@xLargeMainHalf / 2) - @grid-gutter-width);
			a { display: block; }
		    }
		    .desc {
			margin-left: (@xLargeMainHalf / 2) - (@grid-gutter-width / 2);
			h3 {
			    font-size: 14px; font-weight: bold; line-height: 1.3; margin-top: 0;
			    a {
				color: @text-color;
				&:hover { color: #000; text-decoration: none; }
			    }
			}
		    }
		    &.featured {
			display: block; margin: 0 0 @grid-gutter-width 0; width: 100%; min-height: 225px;
			.img { width: @xLargeMainHalf; }
			.desc {
			    margin-left: (@xLargeMainHalf + @grid-gutter-width);
			    h3 { font-size: 24px; font-weight: bold; }
			    p { color: @gray; }
			}
		    }
		}
	    }
	}
    }
    &.list {
	&.bullets {
	    ul {
		list-style: none;
		li {
		    padding-left: @grid-gutter-width / 2; position: relative; font-weight: bold; margin-bottom: @grid-gutter-width / 2;
		    &:before { content: '■'; display: block; position: absolute; top: -5px; left: 0; color: @lightGray; font-size: 18px; transition: all 0.2s; }
		    &:hover {
			&:before { color: @text-color; }
			a { color: #000; }
		    }
		    a {
			color: @text-color;
			&:hover { text-decoration: none; }
		    }
		}
	    }
	}
    }
    &.live-links {
	.panel-body {
	    background: @lightBlue;
	    ul {
		padding: 10px 10px 0 10px;
		li {
		    border-right: 1px solid #e3e8ec; padding: 0; margin: 0 0 10px 0; float: left; width: 33%;
		    & ~ li { border-left: 1px solid #fbfcfc; }
		    &:last-child { border-right: 0 none; }
		    a {
			font-size: 11px; font-weight: bold; color: #000; display: block; transition: all 0.2s;
			&:hover { text-decoration: none; color: lighten(#000, 30%); }
			i { font-size: 36px; display: block; line-height: 36px; margin-bottom: 6px; }
		    }
		}
	    }
	}
    }
    &.schedule {
	&.schedule-condensed {
	    .panel-heading { margin-bottom: 3px; }
	    ul {
		li {
		    background: @lightGray; padding: 20px 10px; margin-bottom: 1px; transition: all 0.2s;
		    &:hover, &.current { background: @mediumGray; }
		    a {
			color: @text-color; display: block;
		    }
		    span { display: block; }
		    .title { font-weight: bold; }
		    .time { font-size: 12px; color: @gray; }
		}
	    }
	}
    }
    &.poll {
	
    }
    &.exlinks {
	
    }
    &.thisday {
	
    }
}