@media (max-width: @screen-md-max){
    .wrapper { width: 100%; }
    .panel {
        &.top-news {
            .item {
                float: none; width: 100%; border-right: 0 none; border-bottom: 4px solid @lightGray;
                .img { height: auto; }
            }
            .itemlist {
                margin-left: 0;
                ul {
                    li {
                        width: 25%; float: left; min-height: 160px;
                        &:hover, &.active {
                            &:before { width: 100%; left: 0; }
                        }
                        & > a {
                            background: transparent; color: @navy;
                            span {
                                &.img { float: none; width: 100%; height: auto; }
                                &.title { margin-left: 0; padding: 4px 8px 0; }
                            }
                        }
                    }
                }
            }
        }
        &.itemlist {
            margin-left: 0;
            .items {
                ul {
                    li {
                        figcaption {
                            font-size: 13px;
                            a { outline: 0 none; display: block; padding-top: 4px; }
                        }
                    }
                }
            }
            &.light {
                padding: 0;
            }
            &.vertical {
                .items {
                    ul {
                        li { width: 100%; }
                    }
                }
            }
        }
        &.tabs {
            .panel-title {
                ul {
                    li {
                        a { padding-left: 6px; padding-right: 6px; }
                    }
                }
            }
        }
        &.digest {
            &.thumbs {
                ul {
                    li {
                        width: 291px;
                        .img { width: 150px; }
                        .desc { margin-left: 160px; }
                        &.featured {
                            .img { width: 320px; }
                            .desc { margin-left: 335px; }
                        }
                    }
                }
            }
        }
        &.gallery {
            .items {
                ul {
                    li {
                        figure {
                            /*img { width: 60%; }*/
                            /*figcaption { margin-left: 60%; }*/
                        }
                    }
                }
            }
        }
    }
}
// SM
@media (max-width: @screen-sm-max){
    #menu {
        display: none; height: auto;
        ul.menu-items {
            /*height: auto;*/
            li {
                float: none; display: block;
                &.hachild a {  }
                ul {
                    position: static; background: darken(@blue-dark, 3%); width: 100%; height: 0; display: block; overflow: hidden; transition: 0.3s all; border: 0 none; padding: 0;
                    li{
                        a{
                            padding: 0 25px;
                        }
                        &:hover, &.active {
                        & > a { background: darken(@blue-dark, 6%) }
                    }
                    }
                }
                &.active ul { height: auto; padding-bottom: 6px; }
            }
        }
    }
    .lang-select { top: 18px; }
    .header-menu {margin-right: 80px; }
    body.rtl .header-menu{ margin-left: 80px; margin-right: 0;}
    .mobile-link {
        position: absolute; top: 8px; right: 0;
        li {
            float: left;
            a {
                color: @masthead-link-color; transition: all 0.2s; display: block; width: 36px; height: 36px; tex-align: center; line-height: 36px; font-size: 20px;
                &:hover { color: @masthead-menu-hover-color; }
            }
        }
    }
    .search {
        position: fixed; width: 300px; top: 50%; left: 50%; margin-left: -150px; margin-top: -100px; display: none; z-index: 1000;
        &:before { position: fixed; display: block; content: ''; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); top: 0; left: 0; cursor: pointer; }
        &.active { display: block; }
        .form-group { position: relative; z-index: 1020; }
        input { background: lighten(@search-background, 10%) !important; width: 300px !important; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); margin-right: 6px; height: 50px !important; }
        button { z-index: 1030 !important; color: #fff !important; top: 8px !important; }
        .toggle-search { display: none; }
    }
    .panel {
        &.tabs .panel-title ul { 
            height: auto;
            li a{
                margin-bottom: -1px;
            }
        }
        &.digest {
            &.thumbs {
                ul {
                    li { display: table !important; clear: both; width: 100%; }
                }
            }
        }
        &.gallery {
            .items {
                ul {
                    li {
                        figure {
                            img { width: 100%; float: none; }
                            figcaption { margin-left: 0; padding-left: 0; }
                        }
                    }
                }
            }
        }
        &.tiles {
            .items {
                ul {
                    li {
                        width: 50%;
                        figure {
                            figcaption {
                                a {
                                    font-size: 12px; line-height: 16px;
                                    .meta { font-size: 11px; }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.top-news{
            .item{
                .img{
                    &.audio>a:before, &.gallery>a:before, &.video>a:before{
                        width: 40px; height: 40px; line-height: 40px; font-size: 18px;
                    }
                }
            }
        }
    }
}
// XS
@media (max-width: @screen-xs-max){
    .img {
        &.video, &.audio, &.gallery {
            & > a:before { top: 0; left: auto; right: 0; margin: 0; border-radius: 0; box-shadow: 0 0 transparent; text-shadow: 0 0 transparent; background: rgba(0, 0, 0, 0.6); border: 0 none; }
        }
    }
    #masthead {
        height: @header-height * 2; position: relative;
        .masthead-inner { position: static; overflow: visible; }
        [class*="col"] { position: static; }
    }
    .lang-select { display: none; }
    .header-menu {
        margin: 0; position: absolute; float: none; left: 0; top: @header-height; width: 100%; text-align: center;
        li {  }
    }
    #ticker { display: none; }
    .panel {
        &.ticker {
            .panel-title { display: none; }
            .panel-body { margin-left: 0; }
        }
        &.top-news {
            .item { border-bottom: 0 none; }
            .itemlist { display: none; }
        }
        &.itemlist {
            &.vertical {
                .items {
                    ul {
                        li {
                            figure {
                                .img { width: 100%; float: none; }
                                figcaption {
                                    margin-left: 0; padding-left: 0;
                                    h3 { margin-top: (@grid-gutter-width / 2); }
                                    p { display: none; }
                                }
                            }
                            &.featured {
                                figcaption {
                                    p { display: block; }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.digest {
            &.thumbs {
                ul {
                    li {
                        margin-bottom: (@grid-gutter-width / 2);
                        &.featured {
                            min-height: 0;
                            .img { width: 50%; }
                            .desc {
                                margin-left: 52%;
                                h3 { font-size: 16px; }
                                p { display: none; }
                            }
                        }
                        &:nth-child(2n+3) { margin-left: 0; }
                    }
                }
            }
        }
        &.gallery {
            .items {
                ul {
                    li { width: 33.33333%; }
                }
            }
        }
        &.radio-bar{
            .panel-title{
                padding: 0;
            }
        }
        &.wslider .wslider-viewport .wslider-slider .gallery-cell h2{
            font-size: 16px;
        }
    }
    #footer {
        #copyright { text-align: center; }
        .lang-select {
            text-align: center;
        }
        .social-icons{
            text-align: center;
        }
    }
}