body.rtl {
    /*! Global Rules */
    .container { direction: rtl; text-align: right; }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24, .col-xs-25, .col-sm-25, .col-md-25, .col-lg-25, .col-xs-26, .col-sm-26, .col-md-26, .col-lg-26, .col-xs-27, .col-sm-27, .col-md-27, .col-lg-27, .col-xs-28, .col-sm-28, .col-md-28, .col-lg-28, .col-xs-29, .col-sm-29, .col-md-29, .col-lg-29, .col-xs-30, .col-sm-30, .col-md-30, .col-lg-30, .col-xs-31, .col-sm-31, .col-md-31, .col-lg-31, .col-xs-32, .col-sm-32, .col-md-32, .col-lg-32{
        float: right;
    }
    dd { margin-right: 0; }
    dt { padding-right: 0; padding-left: @grid-gutter-width; }
    .list-unstyled { padding-right: 0; }
    .lang-select {
        left: auto; right: 210px;
        &:after { margin-left: 0; margin-right: 6px; }
    }
    .search {
        float: left;
        input { direction: rtl; text-align: right; }
        .form-group button { left: auto; right: 0; }
    }
    .header-menu { float: left; }
    .mobile-link{
        right: auto; left: 0;
        li{
            float: right;
        }
    }
    #languages ul li a { border-left: 0 none; border-right: 3px solid #bdbdbd; padding-left: 0; padding-right: 8px; }
    #menu {
        ul li {
            float: right;
            ul.child { left: auto; right: 0; }
        }
    }
    .nav-tabs > li { float: right; }
    .date.text-right { text-align: left; }
    .panel {
        &.title-pattern {
            .panel-title {
                & > a { border-right: 0 none; border-left: 6px solid #fff; }
            }
        }
        &.ticker {
            .panel-title { float: right; clear: right; }
            .panel-body { margin-left: 0; margin-right: 160px; }
        }
        &.list {
            &.bullets {
                ul li {
                    padding-left: 0; padding-right: (@grid-gutter-width);
                    &:before { left: auto; right: 0; }
                }
            }
        }
        &.top-news {
            .item { float: right; border-right: 0 none; }
            .itemlist {
                margin: 0;
                ul li {
                    & > a span.img { float: right; }
                }
            }
        }
        &.poll {
            .checkbox label, .radio label {
                padding-left: 0; padding-right: 20px;
                input { margin-left: 0; margin-right: -20px; }
            }
        }
        &.exlinks {
            .panel-body {
                li a {
                    padding-left: 0; padding-right: 40px;
                    &:before { left: auto; right: 4px; }
                }
            }
        }
        &.thisday {
            .text {
                padding-right: 0; padding-left: 100px;
                &:after { right: auto; left: 0; }
            }
        }
        &.digest.thumbs {
            &.list-condensed {
                ul li {
                    .img { float: right; clear: right; }
                    .desc { margin-left: 0; margin-right: 109px; }
                }
            }
            ul li {
                .img { float: right; clear: right; }
                .desc { margin-left: 0; margin-right: 188px; }
                &.featured {
                    .desc { margin-right: (@xLargeMainHalf) + (@grid-gutter-width / 2); margin-left: 0; }
                }
            }
        }
        &.sms {
            .panel-body .inner {
                padding-right: (@grid-gutter-width / 2); padding-left: 70px;
                &:before { right: auto; left: (@grid-gutter-width / 2); }
            }
        }
        &.itemlist {
            margin-left: 0; margin-right: -(@grid-gutter-width / 2);
            &.pagers-header {
                .pager {
                    float: left; right: auto; left: 0;
                    a { border-left: 0 none; border-right: 6px solid #fff; }
                }
            }
            &.news {
                margin-right: 0;
            }
            &.light {
                margin-right: 0;
            }
            &.vertical {
                ul li {
                    figure {
                        .img { float: right; clear: right; }
                        figcaption { margin-left: 0; margin-right: 25%; padding-left: 0; padding-right: @grid-gutter-width; }
                    }
                    &.featured {
                        figcaption { margin-right: 50%; }
                    }
                }
            }
            &.slider.light {
                padding:  0;
                ul li {
                    float: none;
                }
            }
        }
        &.schedule {
            &.schedule-condensed ul li { border-left: 0 none; border-right: 4px solid #dedede; }
        }
    }
    #item {
        .item-media {
            ul li {
                &.photo, &.video, &.audio {
                    figure figcaption {
                        padding-left: 0; padding-right: 36px;
                        &:before { left: auto; right: 0; }
                    }
                }
            }
        }
        .item-tools {
            .font-resizer ul li ~ li { margin-left: 0; margin-right: 6px; }
        }
        .item-text {
            blockquote { float: left; margin-right: 0; margin-left: -219px; }
        }
    }
    .sharings {
        ul li ~ li { margin-left: 0; margin-right: 6px; }
    }
}