@lightBlue: #f0f4f7;
@mediumBlue: #8d9fae;
@darkBlue: #001c35;
@navy: #00435c;
@lightGray: #cbcbcb;
@mediumGray: #e7e9eb;
@gray: #727272;
@darGray: #373636;

@sectionColor: #e11c2e;
@inputBackground: #0b4573;
@menuHover: #e11c2e;

// Patterns
@patternHeader: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWPQ1NT8z4AOSBMEAMQQBek5754EAAAAAElFTkSuQmCC");
@PatternLight: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAEUlEQVQImWNgYGCQYkADmAIABaMAT85OrbsAAAAASUVORK5CYII=');

// Font family
@fontFamily: Arial, Tahoma;

// Panel Configurations
@moreColor: #2377bc;
@newsDescTextColor: @gray;

// Sizes
@xLargeMainHalf: 406px;